# Final Project: Data Analysis using Spark

This final project is similar to the Practice Project you did. In this project, you will not be provided with hints or solutions. You will create a DataFrame by loading data from a CSV file and apply transformations and actions using Spark SQL.

### Prerequisites 

1. For this lab assignment, you will be using Python and Spark (PySpark). Therefore, it's essential to make sure that the following libraries are installed in your lab environment or within Skills Network (SN) Labs

In [ ]:
# Installing required packages  

!pip install pyspark  findspark wget

In [ ]:
import findspark

findspark.init()

In [ ]:
# PySpark is the Spark API for Python. In this lab, we use PySpark to initialize the SparkContext.   

from pyspark import SparkContext, SparkConf

from pyspark.sql import SparkSession

In [ ]:
# Creating a SparkContext object  

sc = SparkContext.getOrCreate()

# Creating a SparkSession  

spark = SparkSession \
    .builder \
    .appName("Python Spark DataFrames basic example") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()

2. Download the CSV data.

In [ ]:
# Download the CSV data first into a local `employees.csv` file
import wget
wget.download("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-BD0225EN-SkillsNetwork/data/employees.csv")

### Tasks

#### Task 1: Generate a Spark DataFrame from the CSV data

Read data from the provided CSV file, `employees.csv` and import it into a Spark DataFrame variable named `employees_df`.

In [ ]:
# Read data from the "emp" CSV file and import it into a DataFrame variable named "employees_df"  
employees_df = spark.read.csv("employees.csv", header=True, inferSchema=True)

#### Task 2: Define a schema for the data

Construct a schema for the input data and then utilize the defined schema to read the CSV file to create a DataFrame named `employees_df`.

In [ ]:
# Define a Schema for the input data and read the file using the user-defined Schema
employees_df.printSchema()

#### Task 3: Display schema of DataFrame

Display the schema of the `employees_df` DataFrame, showing all columns and their respective data types.

In [ ]:
# Display all columns of the DataFrame, along with their respective data types
employees_df.printSchema()

#### Task 4: Create a temporary view

Create a temporary view named `employees` for the `employees_df` DataFrame, enabling Spark SQL queries on the data.

In [ ]:
# Create a temporary view named "employees" for the DataFrame
employees_df.createOrReplaceTempView("employees")

#### Task 5: Execute an SQL query

Compose and execute an SQL query to fetch the records from the `employees` view where the age of employees exceeds 30. Then, display the result of the SQL query, showcasing the filtered records.

In [ ]:
# SQL query to fetch solely the records from the View where the age exceeds 30
spark.sql("SELECT * FROM employees WHERE age > 30").show()

#### Task 6: Calculate Average Salary by Department

Compose an SQL query to retrieve the average salary of employees grouped by department. Display the result.

In [ ]:
# SQL query to calculate the average salary of employees grouped by department
spark.sql("SELECT department, AVG(salary) as avg_salary FROM employees GROUP BY department").show()

#### Task 7: Filter and Display IT Department Employees

Apply a filter on the `employees_df` DataFrame to select records where the department is `'IT'`. Display the filtered DataFrame.

In [ ]:
# Apply a filter to select records where the department is 'IT'
it_df = employees_df.filter("department = 'IT'")
it_df.show()

#### Task 8: Add 10% Bonus to Salaries

Perform a transformation to add a new column named "SalaryAfterBonus" to the DataFrame. Calculate the new salary by adding a 10% bonus to each employee's salary.

In [ ]:
from pyspark.sql.functions import col

# Add a new column "SalaryAfterBonus" with 10% bonus added to the original salary
employees_df = employees_df.withColumn("SalaryAfterBonus", col("salary") * 1.10)

#### Task 9: Find Maximum Salary by Age

Group the data by age and calculate the maximum salary for each age group. Display the result.

In [ ]:
from pyspark.sql.functions import max

# Group data by age and calculate the maximum salary for each age group
max_salary_by_age = employees_df.groupBy("age").agg(max("salary").alias("max_salary"))
max_salary_by_age.show()

#### Task 10: Self-Join on Employee Data

Join the "employees_df" DataFrame with itself based on the "Emp_No" column. Display the result.

In [ ]:
# Join the DataFrame with itself based on the "Emp_No" column
self_joined_df = employees_df.alias("df1").join(employees_df.alias("df2"), col("df1.Emp_No") == col("df2.Emp_No"))
self_joined_df.show()

#### Task 11: Calculate Average Employee Age

Calculate the average age of employees using the built-in aggregation function. Display the result.

In [ ]:
# Calculate the average age of employees
from pyspark.sql.functions import avg 

average_age_df = employees_df.agg(avg("age").alias("average_age"))
average_age_df.show()

#### Task 12: Calculate Total Salary by Department

Calculate the total salary for each department using the built-in aggregation function. Display the result.

In [ ]:
# Calculate the total salary for each department. Hint - User GroupBy and Aggregate functions
from pyspark.sql.functions import sum 

total_salary_by_department = employees_df.groupBy("department").agg(sum("salary").alias("total_salary"))
total_salary_by_department.show()

#### Task 13: Sort Data by Age and Salary

Apply a transformation to sort the DataFrame by age in ascending order and then by salary in descending order. Display the sorted DataFrame.

In [ ]:
# Sort the DataFrame by age in ascending order and then by salary in descending order
sorted_df = employees_df.orderBy(col("age").asc(), col("salary").desc())
sorted_df.show()

#### Task 14: Count Employees in Each Department

Calculate the number of employees in each department. Display the result.

In [ ]:
from pyspark.sql.functions import count

# Calculate the number of employees in each department
employee_count_by_department = employees_df.groupBy("department").agg(count("*").alias("employee_count"))
employee_count_by_department.show()

#### Task 15: Filter Employees with the letter o in the Name

Apply a filter to select records where the employee's name contains the letter `'o'`. Display the filtered DataFrame.

In [ ]:
# Apply a filter to select records where the employee's name contains the letter 'o'
filtered_df = employees_df.filter(col("Emp_Name").like("%o%"))
filtered_df.show()